.action,
.fauxAction {
  font-weight: var(--fw-medium);
  font-size: var(--fs-14);
}

.adornment {
  color: var(--color-text-lightest);
  display: inline-block;
  transform: translateY(-1px);
}

.children {
  display: inline-block;
  margin-left: var(--space-4);
}

.action:hover .adornment,
.active .adornment {
  color: var(--color-text-lighter);
}

.likeToggle:hover .adornment,
.likeToggle.active .adornment {
  color: var(--color-red);
}

.active:hover .adornment {
  color: var(--color-text-lightest);
}
