.container {
  padding: var(--space-12);
  margin-top: var(--space-16);
  border-radius: var(--space-16);
  color: var(--color-black-90);
}

@media (min-width: 620px) {
  .container {
    border-radius: var(--space-8);
  }
}

.container p {
  margin-top: var(--space-12);
  color: var(--color-text-lighter);
}

.metaIcon {
  margin-left: var(--space-8);
  margin-right: var(--space-4);
}

.metaIcon:first-child {
  margin-left: 0;
}

.movies {
  border-bottom-color: var(--color-bookmark-embed-movies-outline);
  background-color: var(--color-bookmark-embed-movies);
}

.movies h4 {
  color: var(--color-bookmark-movies);
}

.movies .meta {
  color: var(--color-bookmark-embed-movies-meta);
}

.tv-shows {
  border-bottom-color: var(--color-bookmark-embed-tv-shows-outline);
  background-color: var(--color-bookmark-embed-tv-shows);
}

.tv-shows h4 {
  color: var(--color-bookmark-tv-shows);
}

.tv-shows .meta {
  color: var(--color-bookmark-embed-tv-shows-meta);
}

.links {
  border-bottom-color: var(--color-bookmark-embed-links-outline);
  background-color: var(--color-bookmark-embed-links);
}

.links h4 {
  color: var(--color-bookmark-links);
}

.links .meta {
  color: var(--color-bookmark-embed-links-meta);
}

.link:focus .movies,
.link:hover .movies {
  background-color: var(--color-bookmark-embed-movies-outline);
}

.link:focus .tv-shows,
.link:hover .tv-shows {
  background-color: var(--color-bookmark-embed-tv-shows-outline);
}

.link:focus .links,
.link:hover .links {
  background-color: var(--color-bookmark-embed-links-outline);
}

.icon {
  flex-shrink: 0;
}

.details {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h4 {
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 620px) {
  .details h4 {
    max-width: 300px;
  }
}

.placeholder {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: var(--space-32);
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  margin-right: var(--space-4);
}

.movies.placeholder,
.link:hover .movies.placeholder,
.link:focus .movies.placeholder {
  background-color: var(--color-bookmark-movies);
}

.tv-shows.placeholder,
.link:hover .tv-shows.placeholder,
.link:focus .tv-shows.placeholder {
  background-color: var(--color-bookmark-tv-shows);
}

.links.placeholder,
.link:hover .links.placeholder,
.link:focus .links.placeholder {
  background-color: var(--color-bookmark-links);
}

.poster {
  margin-right: var(--space-4);
  border-radius: var(--space-4);
  width: 40px;
  height: 56px;
}
