.container {
  position: relative;
  overflow: hidden;
  background-color: var(--color-bookmark);
  padding: 16px;

  /* Make full-bled */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.container:hover {
  box-shadow: 0 0 0 2px var(--color-bookmark-hover);
}

@media (min-width: 620px) {
  .container {
    /* Reset full-bled */
    width: auto;
    position: relative;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: var(--space-16);
  }
}

.body {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container + .container {
  margin-top: var(--space-16);
}

.text {
  padding-top: var(--space-16);
}
