.wrapper {
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-color: var(--color-button);
}

.wrapper.sm {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}

.wrapper.md {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.wrapper.lg {
  width: 256px;
  height: 256px;
  min-width: 256px;
  min-height: 256px;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
