.container {
  position: relative;
  border-top: 1px solid var(--button-background-color);
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
}

.container:first-child {
  border-top: 0;
  padding-top: 0;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--space-8);
}

.userInfo span {
  margin-bottom: 2px;
}

.description {
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}

.action {
  color: var(--text-color);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
}

.adornment {
  margin-right: var(--space-4);
  color: var(--text-color-lighter);
}

.active .adornment {
  color: var(--color-primary);
}
