.container {
  position: relative;
  border-top: 1px solid var(--button-background-color);
  padding-top: var(--space-24);
  padding-bottom: var(--space-24);
  cursor: pointer;
}

.text {
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}

.action {
  color: var(--text-color-lighter);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
}

.adornment {
  margin-right: var(--space-4);
  color: var(--text-color-lighter);
}

.active .adornment {
  color: var(--color-primary);
}
