.base {
  background-color: var(--button-background-color);
  color: var(--button-label-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-12);
  height: var(--space-40);
  padding-left: var(--space-12);
  padding-right: var(--space-12);
  font-weight: var(--fw-medium);
  font-size: inherit;
}

.base:focus,
.base:hover {
  background-color: var(--button-background-color-hover);
}

.primary {
  background-color: var(--color-primary);
  color: var(--white);
}

.primary:focus,
.primary:hover {
  background-color: var(--color-primary-hover);
}

.success {
  background-color: var(--color-success);
  color: var(--white);
}

.success:focus,
.success:hover {
  background-color: var(--color-success-hover);
}

.warning {
  background-color: var(--color-warning);
  color: var(--white);
}

.warning:focus,
.warning:hover {
  background-color: var(--color-warning-hover);
}

.danger {
  background-color: var(--color-danger);
  color: var(--white);
}

.danger:focus,
.danger:hover {
  background-color: var(--color-danger-hover);
}

.adornment {
  position: relative;
  width: var(--space-40);
  height: var(--space-40);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(var(--space-12) * -1);
}

.no-children .adornment {
  margin-right: calc(var(--space-12) * -1);
}
