.base {
  background-color: var(--color-button);
  color: var(--color-button-label);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--space-32);
  height: var(--space-40);
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  font-weight: var(--fw-medium);
  font-size: inherit;
}

.base.lg {
  height: var(--space-56);
  border-radius: var(--space-16);
}

.base:focus,
.base:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button-label);
}

.base.disabled {
  color: var(--color-black-50);
}

.disabled {
  opacity: 0.8;
  cursor: default;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-button-label-primary);
}

.primary:focus,
.primary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-button-label-primary);
}

.primary.disabled {
  color: var(--color-white-50);
}

.primary.disabled:hover {
  background-color: var(--color-primary);
}

.success {
  background-color: var(--color-success);
  color: var(--color-white);
}

.success:focus,
.success:hover {
  background-color: var(--color-success-hover);
  color: var(--color-white);
}

.success.disabled {
  color: var(--color-white-50);
}

.success.disabled:hover {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
  color: var(--color-white);
}

.warning:focus,
.warning:hover {
  background-color: var(--color-warning-hover);
  color: var(--color-white);
}

.warning.disabled {
  color: var(--color-white-50);
}

.warning.disabled:hover {
  background-color: var(--color-warning);
}

.danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.danger:focus,
.danger:hover {
  background-color: var(--color-danger-hover);
  color: var(--color-white);
}

.danger.disabled {
  color: var(--color-white-50);
}

.danger.disabled:hover {
  background-color: var(--color-danger);
}

.adornment {
  position: relative;
  width: var(--space-40);
  height: var(--space-40);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(var(--space-16) * -1);
}

.no-children .adornment {
  margin-right: calc(var(--space-16) * -1);
}

.full-width {
  width: 100%;
}
