.list {
  list-style: none;
  display: grid;
  grid-gap: var(--space-16);
  grid-template-columns: repeat(2, 1fr);
}

.category {
  position: relative;
  color: var(--color-white);
  background-color: var(--color-button);
  display: flex;
  padding: var(--space-16);
  border-radius: var(--space-16);
  border-width: 0px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category:focus,
.category:hover {
  background-color: var(--color-button-hover);
}

.icon-container {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  margin-top: var(--space-8);
}

.label {
  font-weight: var(--fw-medium);
  margin-top: var(--space-16);
}

.movies {
  color: var(--color-bookmark-movies);
  background-color: var(--color-bookmark-embed-movies);
  border-color: var(--color-bookmark-embed-movies-outline);
}

.movies:focus,
.movies:hover {
  background-color: var(--color-bookmark-embed-movies-outline);
}

.movies .icon-container {
  background-color: var(--color-bookmark-movies);
}

.tv-shows {
  color: var(--color-bookmark-tv-shows);
  background-color: var(--color-bookmark-embed-tv-shows);
  border-color: var(--color-bookmark-embed-tv-shows-outline);
}

.tv-shows:focus,
.tv-shows:hover {
  background-color: var(--color-bookmark-embed-tv-shows-outline);
}

.tv-shows .icon-container {
  background-color: var(--color-bookmark-tv-shows);
}

.links {
  color: var(--color-bookmark-links);
  background-color: var(--color-bookmark-embed-links);
  border-color: var(--color-bookmark-embed-links-outline);
}

.links:focus,
.links:hover {
  background-color: var(--color-bookmark-embed-links-outline);
}

.links .icon-container {
  background-color: var(--color-bookmark-links);
}
