.list {
  list-style: none;
  display: grid;
  grid-gap: var(--space-16);
  grid-template-columns: repeat(2, 1fr);
}

.category {
  position: relative;
  color: var(--button-label-color);
  background-color: var(--button-background-color);
  display: flex;
  padding: var(--space-16);
  border-radius: var(--space-12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: var(--fw-medium);
  margin-top: var(--space-8);
}
