.container {
  position: relative;
  border-top: 1px solid var(--color-button);
  padding-top: var(--space-8);
  margin-top: var(--space-8);
  display: flex;
}

.header {
  display: flex;
  color: var(--color-text-lighter);
}

.header * {
  color: inherit;
  display: inline-block;
}

.avatarContainer {
  padding-right: var(--space-8);
}

.avatarContainer * {
  color: inherit;
  display: inline-block;
}
