.container {
  padding: 0.2rem;
  color: #fff;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list {
  display: flex;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.item {
  margin-right: 1rem;
}

.item:first-child {
  margin-left: auto;
}

.link {
  color: #fff;
  text-decoration: none;
}
