.field-wrapper {
  position: relative;
}

.label {
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
}

.help {
  font-size: var(--fs-14);
  color: var(--text-color-meta);
}

.field {
  width: 100%;
  display: block;
  color: var(--text-color);
  box-shadow: 0 0 0 1px var(--input-border-color) inset;
  background-color: var(--input-background-color);
  font-size: inherit;
  border-radius: var(--space-12);
  padding: var(--space-16) var(--space-12);
}
