.container {
  position: relative;
}

.fieldWrapper {
  display: block;
  position: relative;
}

.label {
  display: inline-block;
  margin-bottom: var(--space-4);
  font-size: var(--fs-14);
  font-weight: var(--fw-medium);
}

.help {
  font-size: var(--fs-14);
  color: var(--color-text-lighter);
}

.valid .help {
  color: var(--color-success);
}

.invalid .help {
  color: var(--color-danger);
}

.field {
  width: 100%;
  display: block;
  color: var(--color-text);
  box-shadow: 0 0 0 2px var(--color-input-outline) inset;
  background-color: var(--color-input);
  font-size: inherit;
  font-family: inherit;
  border-radius: var(--space-16);
  padding: var(--space-16);
  min-height: var(--space-56);
  resize: none;
}

.field:hover {
  box-shadow: 0 0 0 2px var(--color-input-outline-hover) inset;
}

.field:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-input-outline-hover) inset;
}

.rightAdornment {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--space-48);
  display: flex;
  justify-content: center;
  align-items: center;
}

.valid .rightAdornment {
  color: var(--color-success);
}

.invalid .rightAdornment {
  color: var(--color-danger);
}
