.container {
  padding: var(--space-8);
  border-radius: var(--space-12);
  background-color: var(--button-background-color);
  color: var(--button-label-color);
}

a:focus .container,
a:hover .container {
  background-color: var(--button-background-color-hover);
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster {
  margin-right: var(--space-4);
  border-radius: var(--space-4);
  width: 32px;
  height: 45px;
  background-color: var(--text-color-lightest);
}

@media (min-width: 560px) {
  .poster {
    width: 40px;
    height: 56px;
  }
}
