.container {
  padding-top: var(--space-12);
  padding-bottom: var(--space-56);
}

@media (min-width: 620px) {
  .container {
    padding-top: var(--space-96);
  }
}

.main {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}

@media (min-width: 620px) {
  .main {
    padding: 0;
  }
}
