.container {
  margin-bottom: var(--space-96);
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 620px) {
  .container {
    display: flex;
  }
}

.sidebar {
  flex: 1;
}

@media (min-width: 620px) {
  .sidebar {
    padding-top: var(--space-16);
  }
}

.main {
  flex: 3;
  padding-top: var(--space-16);
  padding-left: var(--space-16);
  padding-right: var(--space-16);
}
