.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--color-bookmark);
  padding: var(--space-16);

  /* Make full-bled */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  transition: transform 0.05s ease-in-out;
}

a .container {
  cursor: pointer;
}

a .container:hover {
  box-shadow: 0 0 0 2px var(--color-bookmark-border-hover);
}

a .container:active {
  box-shadow: 0 0 0 2px var(--color-bookmark-border-active);
  transform: scale(0.99);
}

@media (min-width: 620px) {
  .container {
    /* Reset full-bled */
    width: auto;
    position: relative;
    left: auto;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: var(--space-16);
  }
}
