.container > * + * {
  margin-top: var(--space-16);
}

.container > * + h2 {
  margin-top: var(--space-32);
}

.container h2 {
  font-size: var(--fs-18);
  line-height: var(--lh-copy);
}

.container ul {
  padding-left: var(--space-32);
}

.container li {
  margin-top: var(--space-4);
  padding-left: var(--space-8);
}

.container a {
  text-decoration: underline;
}

.container a:hover,
.container a:active {
  opacity: 0.8;
}
