.header {
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
}

@media (min-width: 560px) {
  .header {
    display: flex;
  }
}

.header h1 {
  margin: var(--space-4) 0;
}

.header strong,
.header p {
  color: var(--text-color-lighter);
}

.header p {
  margin-bottom: var(--space-16);
}

.heroWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: var(--space-16) 0;
  margin-bottom: var(--space-8);
}

@media (min-width: 560px) {
  .heroWrapper {
    padding: 0 var(--space-24) 0 0;
  }
}

.hero {
  display: none;
  background-size: cover;
  width: 100%;
  padding: 32px 0;
  filter: blur(var(--space-32));
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .hero {
    display: block;
  }
}

@media (min-width: 560px) {
  .hero {
    display: none;
  }
}

.hero::before {
  content: ' ';
  background-image: linear-gradient(
    180deg,
    var(--body-background-color-lightest) 0%,
    var(--body-background-color-lighter) 60%,
    var(--body-background-color) 100%
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.poster img {
  max-height: 160px;
  border-radius: var(--space-8);
  width: auto;
}
