.media {
  margin-right: var(--space-8);
}

.image {
  border-radius: var(--space-4);
  width: 24px;
  height: 36px;
}

.placeholder {
  border-radius: var(--space-4);
  width: 24px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-lighter);
  background-color: var(--button-background-color);
}
