.menu-list {
  padding: 0;
  list-style: none;
  border-radius: var(--space-16);
  overflow: hidden;
}

.menu-list li {
  margin-top: 1px;
  background-color: var(--color-input);
  padding: var(--space-16);
}

.menu-list li:hover {
  opacity: 0.8;
}

.menu-list li:active {
  opacity: 0.5;
}
