.selection {
  display: flex;
  align-items: center;
  padding: var(--space-8);
  border-radius: var(--space-12);
  background-color: var(--button-background-color);
}

.poster {
  margin-right: var(--space-12);
  border-radius: var(--space-4);
  width: 48px;
  height: 72px;
}
