.container {
  margin-bottom: var(--space-16);
  margin-top: 6px; /* fix to align title with desktop header */
}

.container > * {
  display: block;
}

.container * + * {
  margin-top: var(--space-4);
}
