.container {
  position: relative;
  overflow: hidden;
  border-radius: var(--space-16);
  background-color: var(--color-button);
  width: 128px;
  height: 128px;
  cursor: pointer;
  margin-bottom: var(--space-16);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  text-align: center;
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: opacity, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  color: white;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, 0.75);
}
