.header p {
  font-size: var(--fs-20);
  text-align: left;
}

@media (min-width: 620px) {
  .header p {
    font-size: var(--fs-22);
  }
}

.hiddenInput {
  opacity: 0;
  width: 1px;
  height: 1px;
}
