.hstack {
  display: flex;
  align-items: center;
}

.hstack {
  flex-direction: row;
}

.hstack > * + * {
  margin-left: var(--space-8);
}

.hstack.spacing-md > * + * {
  margin-left: var(--space-16);
}

.hstack.spacing-lg > * + * {
  margin-left: var(--space-32);
}

.vstack > * + * {
  margin-top: var(--space-8);
}

.vstack.spacing-md > * + * {
  margin-top: var(--space-16);
}

.vstack.spacing-lg > * + * {
  margin-top: var(--space-32);
}

.leading {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.trailing {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}
