.container {
  background-color: var(--color-body);
  border-top: 1px solid var(--color-input-outline);
  position: fixed;
  padding-bottom: env(safe-area-inset-bottom);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 620px) {
  .container {
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    border-top: 0;
    padding: 0;
  }
}

.tabBar {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  height: var(--space-64);
}

@media (min-width: 620px) {
  .tabBar {
    display: flex;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
  }
}

.tabBar li {
  width: 20%;
}

@media (min-width: 620px) {
  .tabBar li {
    width: auto;
  }

  .tabBar li:not(:first-child) {
    margin-top: var(--space-24);
  }
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-lighter);
}

.tabItem:hover {
  color: var(--color-primary-hover);
}

.active {
  color: var(--color-primary);
}

@media (min-width: 620px) {
  .tabItem {
    display: inline-flex;
    flex-direction: row;
    width: auto;
    margin-right: var(--space-24);
  }
}

@media (min-width: 620px) {
  .newBookmarkItem {
    order: 1;
  }

  .newBookmarkItem .tabItem {
    margin-right: 0;
  }
}

.label {
  font-size: var(--fs-12);
  padding-top: 2px;
}

@media (min-width: 620px) {
  .label {
    font-size: var(--fs-20);
    padding-top: var(--space-0);
    padding-left: var(--space-8);
    font-weight: var(--fw-bold);
  }
}

.newBookmarkLabel {
  display: none;
}

@media (min-width: 620px) {
  .newBookmarkLabel {
    display: inline;
  }
}

@media (max-width: 620px) {
  /* We hide the label of the button using css, this fixes redudant margin  */
  .newBookmarkItem button span {
    margin: 0 calc(var(--space-16) * -1);
  }
}
