.tabs {
  display: flex;
  list-style: none;
  justify-content: row;
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
  background-color: var(--color-button);
  overflow: hidden;
  padding: var(--space-4);
  border-radius: var(--space-16);
}

.tab {
  border-radius: var(--space-12);
  height: var(--space-40);
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--space-4);
}

.tab:first-child {
  margin-left: 0;
}

.tab:hover,
.tab:active {
  color: var(--color-text);
  background-color: var(--color-button-hover);
}

.active,
.active:hover {
  color: var(--color-text);
  background-color: var(--color-bookmark);
}
