.text {
  font-size: var(--fs-16);
  line-height: var(--lh-copy);
}

@media (min-width: 560px) {
  .text {
    font-size: var(--fs-18);
  }
}

.small {
  font-size: var(--fs-14);
  line-height: var(--lh-copy);
}

@media (min-width: 560px) {
  .small {
    font-size: var(--fs-16);
  }
}

.caption {
  font-size: var(--fs-12);
}

@media (min-width: 560px) {
  .caption {
    font-size: var(--fs-14);
  }
}

.meta {
  color: var(--text-color-lighter);
}

.semibold {
  font-weight: var(--fw-medium);
}

.bold {
  font-weight: var(--fw-bold);
}
