.container {
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  border-top: 1px solid var(--button-background-color);
  cursor: pointer;
}

.container:hover {
  opacity: 0.9;
}

.container:active {
  opacity: 0.8;
}

.container:first-child {
  border-top: none;
}
